// DynamicMenu.scss

.dynamic-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;

   
    .menu {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      ul{
        gap: 44px;
      }
  
      li {
        margin-right: 20px;
        cursor: pointer;
        
        &:last-child {
          margin-right: 0;
        }

      }
  
      .more {
        position: relative;
        &:hover .more-items {
          display: block;
        }
      }
  
      .more-items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10px;
        z-index: 100;
  
        li {
          margin: 5px 0;
          
        }
      }
    }
  
    .logo {
      font-size: 24px;
    }
  
    .search-bar {
      input[type='text'] {
        padding: 5px;
        border: none;
        border-radius: 3px;
        outline: none;
      }
    }
  
    // @media screen and (max-width: 768px) {
    //   .menu {
    //     display: block;
    //     li {
    //       margin-right: 0;
    //       margin-bottom: 10px;
    //     }
    //   }
  
    //   .more-items {
    //     display: none;
    //   }
    // }
  }
  