.main-menu {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 70px;
    gap: 60px;
    margin: 0px;
    padding: 0;

    .menu-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 10px;
            padding: 6px;
            &:hover {
                color: rgb(115, 172, 232);
            }
        }
    }

    .more {
        position: relative;

        &:hover .more-items {
            display: block;
        }
    }

    .more-items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10px;
        z-index: 100;

        &:hover {
            background-color: #333;
            color: #fff;
        }

        li {
            margin: 5px 0;

            &:hover {
                background-color: #EEEEEE;
                color: rgb(0, 0, 0);
            }
        }
    }

    .search-bar {
        width: 120px;
    }

    .logo {
        width: 100px;
        height: 40px;
    }
}