.main-menu {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 118px;
    gap: 40px;
    margin: 8px;

    .menu-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 10px;

            &:hover {
                color: rgb(115, 172, 232);
            }
        }
    }

    .more {
        position: relative;

        &:hover .more-items {
            display: block;
        }
    }

    .more-items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        padding: 10px;
        z-index: 100;

        &:hover {
            background-color: #333;
            color: #fff;
        }

        li {
            margin: 5px 0;

            &:hover {
                background-color: #EEEEEE;
                color: rgb(0, 0, 0);
            }
        }
    }

    .search-bar {
        width: 120px;
    }

    // .more-section {
    //   ul {
    //     list-style: none;
    //     padding: 0;
    //     margin: 0;
    //   }
    // }
    .logo {
        width: 100px;
        height: 40px;
    }
}







// .dynamic-menu {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 10px 20px;
//   background-color: #333;
//   color: #fff;

//   .menu {
//     display: flex;
//     list-style-type: none;
//     margin: 0;
//     padding: 0;

//     li {
//       margin-right: 20px;
//       cursor: pointer;
//       &:last-child {
//         margin-right: 0;
//       }
//     }

//     .more {
//       position: relative;
//       &:hover .more-items {
//         display: block;
//       }
//     }

//     .more-items {
//       display: none;
//       position: absolute;
//       top: 100%;
//       left: 0;
//       background-color: #333;
//       padding: 10px;
//       z-index: 100;

//       li {
//         margin: 5px 0;
//       }
//     }
//   }

//   .logo {
//     font-size: 24px;
//   }

//   .search-bar {
//     input[type='text'] {
//       padding: 5px;
//       border: none;
//       border-radius: 3px;
//       outline: none;
//     }
//   }

// @media screen and (max-width: 768px) {
//   .menu {
//     display: block;
//     li {
//       margin-right: 0;
//       margin-bottom: 10px;
//     }
//   }

//   .more-items {
//     display: none;
//   }
// }
// }